<div class="ps-page">
      <div class="ps-page__content">
        <div class="container">
          <div class="ps-shopping-cart">
            <div class="table-responsive">
              <table class="table ps-tablet ps-table--shopping-cart">
                <thead>
                  <tr>
                    <!-- <th></th> -->
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <!-- <td><a href="product-standard.html"><img src="img/product/best-2-1.jpg" alt=""></a></td> -->
                    <td><img src="img/product/best-2-1.jpg" alt=""><a href="product-standard.html">Cyan Boheme - Cyan, M</a></td>
                    <td>$45.00</td>
                    <td>
                      <div class="form-group--number">
                        <button class="up"><i class="fa fa-plus"></i></button>
                        <button class="down"><i class="fa fa-minus"></i></button>
                        <input class="form-control" type="text" placeholder="1" value="1">
                      </div>
                    </td>
                    <td>
                      <p>$45.00</p><a class="ps-btn--close ps-btn--no-boder" href="shopping-cart.html#"></a>
                    </td>
                  </tr>
              <!--     <tr class="coupon">
                    <td colspan="2">
                      <div class="form-group--inline">
                        <label>Coupon</label>
                        <div class="form-group__content">
                          <input class="form-control" type="text" placeholder="Coupon Code">
                          <button class="ps-btn ps-btn--outline ps-btn--black">Apply coupon</button>
                        </div>
                      </div>
                    </td>
                    <td colspan="3"><a class="ps-btn ps-btn--outline ps-btn--black" href="shopping-cart.html#"> Update Cart</a></td>
                  </tr> -->
                </tbody>
              </table>
            </div>
            <figure class="ps-shopping-cart__total">
              <figcaption>CART TOTALS</figcaption>
              <div class="table-responsive">
                <table class="table ps-table">
                  <tbody>
                    <tr>
                      <td><strong>Subtotal</strong></td>
                      <td>$45.00</td>
                    </tr>
                    <tr>
                      <td><strong>Shiping</strong></td>
                      <td>
                        <p>Local Pickup: $15.00</p><a href="shopping-cart.html#">Calculate shipping</a>
                      </td>
                    </tr>
                    <tr>
                      <td><strong>Subtotal</strong></td>
                      <td>$45.00</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="footer"><a class="ps-btn ps-btn--outline ps-btn--black" href="checkout.html">Process to checkout</a></div>
            </figure>
          </div>
        </div>
      </div>
    </div>
