<div class="ps-page">
      <div class="ps-page__content">
        <div class="container">
          <div class="ps-shopping-cart">
            <div class="table-responsive">
              <table class="table ps-tablet ps-table--shopping-cart">
                <thead>
                  <tr>
                    <!-- <th></th> -->
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let tix of _uw.car;let i = index">
                   
                    <td><img src="{{tix.images[0]}}" alt=""><a>{{tix.productName}}</a></td>
                    <td>CLP {{tix.globalPrice}}</td>
                    <td>
                      <div class="form-group--number">
                        <button class="up" (click)="up(i)"> <i class="fa fa-plus"></i></button>
                        <button class="down" (click)="down(i)"><i class="fa fa-minus"></i></button>
                        <input class="form-control" type="text" [ngModel]="tix.cantidad" placeholder="1" disabled="true" min="0">
                      </div>
                    </td>
                    <td style="vertical-align: middle;text-align: left;">
                      {{tix.globalPrice* tix.cantidad}}
                      <a class="ps-btn--close ps-btn--no-boder" ></a>
                    </td>
                  </tr>
             
                </tbody>
              </table>
            </div>
            <figure class="ps-shopping-cart__total">
              <figcaption>SUB TOTALES</figcaption>
              <div class="table-responsive">
                <table class="table ps-table">
                  <tbody>
                    <tr>
                      <td><strong>Subtotal</strong></td>
                      <td>CLP {{_uw.subTotal}}</td>
                    </tr>
                    <tr>
                      <td><strong>ENVIO</strong></td>
                      <td>
                        <p>Local Pickup: $15.00</p><a >Calculate shipping</a>
                      </td>
                    </tr>
                    <tr>
                      <td><strong>Subtotal</strong></td>
                      <td>$45.00</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="footer"><a class="ps-btn ps-btn--outline ps-btn--black" >Confirmar compra</a></div>
            </figure>
          </div>
        </div>
      </div>
    </div>
