<div class="ps-section ps-instagram">
        <div class="container">
          <div class="ps-section__header">
            <h3>@ SIGUENOS EN INSTAGRAM</h3>
          </div>
        </div>
        <div class="ps-carousel--nav inside owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="100000" data-owl-gap="0" data-owl-nav="true" data-owl-dots="true" data-owl-item="6" data-owl-item-xs="2" data-owl-item-sm="3" data-owl-item-md="4" data-owl-item-lg="8" data-owl-duration="1000" data-owl-mousedrag="on">
          <div class="ps-block--instagram"><a href="index.html#"><img src="assets/assetslameseria/img/instagram/1.jpg" alt=""></a>
            <div class="ps-block__action"><a href="index.html#"><i class="fa fa-heart-o"></i>10</a><a href="index.html#"><i class="fa fa-comments"></i>20</a></div>
          </div>
          <div class="ps-block--instagram"><a href="index.html#"><img src="assets/assetslameseria/img/instagram/2.jpg" alt=""></a>
            <div class="ps-block__action"><a href="index.html#"><i class="fa fa-heart-o"></i>10</a><a href="index.html#"><i class="fa fa-comments"></i>20</a></div>
          </div>
          <div class="ps-block--instagram"><a href="index.html#"><img src="assets/assetslameseria/img/instagram/3.jpg" alt=""></a>
            <div class="ps-block__action"><a href="index.html#"><i class="fa fa-heart-o"></i>10</a><a href="index.html#"><i class="fa fa-comments"></i>20</a></div>
          </div>
          <div class="ps-block--instagram"><a href="index.html#"><img src="assets/assetslameseria/img/instagram/4.jpg" alt=""></a>
            <div class="ps-block__action"><a href="index.html#"><i class="fa fa-heart-o"></i>10</a><a href="index.html#"><i class="fa fa-comments"></i>20</a></div>
          </div>
          <div class="ps-block--instagram"><a href="index.html#"><img src="assets/assetslameseria/img/instagram/5.jpg" alt=""></a>
            <div class="ps-block__action"><a href="index.html#"><i class="fa fa-heart-o"></i>10</a><a href="index.html#"><i class="fa fa-comments"></i>20</a></div>
          </div>
          <div class="ps-block--instagram"><a href="index.html#"><img src="assets/assetslameseria/img/instagram/6.jpg" alt=""></a>
            <div class="ps-block__action"><a href="index.html#"><i class="fa fa-heart-o"></i>10</a><a href="index.html#"><i class="fa fa-comments"></i>20</a></div>
          </div>
        </div>
      </div>

