 <div class="ps-page">

      <div class="ps-shopping">
        <div class="container">
          
          <div class="ps-shopping__content">
            <div class="row">
              <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 " *ngFor="let tix of tixs">
                <div class="ps-product" routerLink="/productdetail/{{tix.id}}">

                  <div class="ps-product__thumbnail">
                    <a class="ps-product__overlay" >
                      
                    </a><a class="ps-product__img" ><img src="{{tix.images[0]}}" alt=""/></a><a class="ps-product__img-alt"><img src="{{tix.images[1]}}" alt=""/></a><a class="ps-product__favorite" ><i class="fa fa-heart-o"></i></a>
                    <ul class="ps-product__actions">
                      <li><a routerLink="/productdetail/{{tix.id}}">Ver Detalles</a></li>
                      
                    </ul>
                    <p class="ps-product__size">{{tix.dimensiones}}</p>
                  </div>
                  <div class="ps-product__content">
                    <div class="ps-product__meta"><a ></a></div><a class="ps-product__title" >{{tix.productName}}</a>
                    <p class="ps-product__price">CLP {{tix.globalPrice}} </p>
                  </div>
                </div>
              </div>
             
            </div>
          </div>
          <div class="ps-shopping__footer"><a class="ps-btn ps-btn--outline ps-btn--black" >Cargar más</a></div>
        </div>
      </div>
    </div>