<div class="ps-home-banner">
        <div class="ps-carousel--animate ps-carousel--1st">
          <div class="item">
            <div class="ps-banner left">
              <div class="container"><img src="assets/assetslameseria/img/home-banner/home-1/1.png" alt="">
                <div class="ps-banner__content" style="max-width: 50%;">
                  <h5>Estimados clientes</h5>
                  <h1>DESPACHAMOS A TODO CHILE</h1>
                  <p>Seguimos recibiendo y despachando pedidos por medio de nuestra tienda On Line.</p>
                  <p>Contamos con los permisos y protocolos necesarios para despachar sus productos a comunas con y sin cuarentena. </p>
                  <p>Despachos gratis para todo Santiago.</p>
                  <p>Si tienes dudas o preguntas contáctanos a nuestros teléfonos disponibles o por medio de nuestras redes sociales <b>@lamesería.cl</b></p>
                  <p>Equipo La Mesería.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="ps-banner center-1">
              <div class="container"><img src="assets/assetslameseria/img/home-banner/home-1/3.png" alt="">
                <div class="ps-banner__content" style="margin-top: -13%;">
                  <h1>Renueva tus espacios con La Meseria.</h1>
                  <p>Compra On Line y disfruta aún más tu hogar.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="ps-banner right">
              <div class="container"><img src="assets/assetslameseria/img/home-banner/home-1/2.png" alt="">
                <div class="ps-banner__content">
                <h1>Descubre nuestra colección en madera Lenga.</h1>
                  <p>Harán de tus espacios un lugar más cómodo, más cálido y más acogedor.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>