
    <div class="navigation--sidebar">
      <div class="navigation__header">
        <h3>Menu</h3><a class="ps-btn--close ps-btn--no-boder" href="index.html#"></a>
      </div>
      <div class="navigation__content">
        <div class="navigation__actions">
         <!--  <div class="ps-dropdown"><a href="index.html#">USD</a>
            <ul class="ps-dropdown-menu">
              <li><a href="index.html#">USD</a></li>
              <li><a href="index.html#">CLP</a></li>
            </ul>
          </div> -->
          <div class="header__actions"><a class="ps-search-btn" href="index.html#"><i class="pe-7s-search"></i></a>
        
          </div>
        </div>
        <ul class="menu--mobile">
      
          <li class="menu-item-has-children"><a class="has-badge" routerLink="shop">Catalogo</a><span class="sub-toggle"></span>
        
          </li>
       
        </ul>
      </div>
    </div>
    <div id="homepage-1">
      <app-banner></app-banner>

      <div class="ps-section ps-product-collection ps-trending">
        <div class="container">
          <div class="ps-section__header">
            <h3>Muebleria</h3>
            <p>de Autor</p>
          </div>
          <div class="ps-section__content">
            <div class="row">
              <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 " *ngFor="let tix of tixs" >
                <div class="ps-product" routerLink="/productdetail/{{tix.id}}">
                  <div class="ps-product__thumbnail"><a class="ps-product__overlay" ></a><a class="ps-product__img" ><img src="{{tix.images[0]}}" alt=""/></a><a class="ps-product__img-alt" ><img src="{{tix.images[1]}}" alt=""/></a><a class="ps-product__favorite" ><i class="fa fa-heart-o"></i></a>
                    <ul class="ps-product__actions">
                      <li><a routerLink="/productdetail/{{tix.id}}">Ver detalles</a></li>
                    </ul>
                    <!-- <p class="ps-product__size">Dimensiones: </p> -->
                    <p class="ps-product__size">{{tix.dimensiones}}</p>
                  </div>
                  <div class="ps-product__content">
                    <div class="ps-product__meta">
                      <a ></a>
                    </div>
                    <a class="ps-product__title" >{{tix.productName}}</a>
                    <p class="ps-product__price"> CLP {{tix.globalPrice}}</p>
                   </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ps-home-collection">
        <div class="container">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12  ">
              <div class="ps-block--collection"><a href="shop-4-column.html"></a><img src="assets/assetslameseria/img/collection/collection-1.jpg" alt="">
                <div class="ps-block__content">
                  <h4>Una buena Mesa es un buen comedor</h4>
                  <!-- <p>Mesa de comedor Riñihue</p> -->
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12  ">
              <div class="ps-block--collection"><a href="shop-4-column.html"></a><img src="assets/assetslameseria/img/collection/collection-2.jpg" alt="">
                <div class="ps-block__content">
                  <h4>Personaliza tus espacios </h4><!-- 
                  <h2>Mesa de centro Llanquihe </h2> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="ps-section ps-instagram">
        <div class="container">
          <div class="ps-section__header">
            <h3>@ SIGUENOS EN INSTAGRAM</h3>
          </div>
        </div>
        <div class="ps-carousel--nav inside owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="100000" data-owl-gap="0" data-owl-nav="true" data-owl-dots="true" data-owl-item="6" data-owl-item-xs="2" data-owl-item-sm="3" data-owl-item-md="4" data-owl-item-lg="8" data-owl-duration="1000" data-owl-mousedrag="on">
          <div class="ps-block--instagram"><a href="index.html#"><img src="assets/assetslameseria/img/instagram/1.jpg" alt=""></a>
            <div class="ps-block__action"><a href="index.html#"><i class="fa fa-heart-o"></i>10</a><a href="index.html#"><i class="fa fa-comments"></i>20</a></div>
          </div>
          <div class="ps-block--instagram"><a href="index.html#"><img src="assets/assetslameseria/img/instagram/2.jpg" alt=""></a>
            <div class="ps-block__action"><a href="index.html#"><i class="fa fa-heart-o"></i>10</a><a href="index.html#"><i class="fa fa-comments"></i>20</a></div>
          </div>
          <div class="ps-block--instagram"><a href="index.html#"><img src="assets/assetslameseria/img/instagram/3.jpg" alt=""></a>
            <div class="ps-block__action"><a href="index.html#"><i class="fa fa-heart-o"></i>10</a><a href="index.html#"><i class="fa fa-comments"></i>20</a></div>
          </div>
          <div class="ps-block--instagram"><a href="index.html#"><img src="assets/assetslameseria/img/instagram/4.jpg" alt=""></a>
            <div class="ps-block__action"><a href="index.html#"><i class="fa fa-heart-o"></i>10</a><a href="index.html#"><i class="fa fa-comments"></i>20</a></div>
          </div>
          <div class="ps-block--instagram"><a href="index.html#"><img src="assets/assetslameseria/img/instagram/5.jpg" alt=""></a>
            <div class="ps-block__action"><a href="index.html#"><i class="fa fa-heart-o"></i>10</a><a href="index.html#"><i class="fa fa-comments"></i>20</a></div>
          </div>
          <div class="ps-block--instagram"><a href="index.html#"><img src="assets/assetslameseria/img/instagram/6.jpg" alt=""></a>
            <div class="ps-block__action"><a href="index.html#"><i class="fa fa-heart-o"></i>10</a><a href="index.html#"><i class="fa fa-comments"></i>20</a></div>
          </div>
        </div>
      </div>
      <div class="ps-site-features">
        <div class="container">
          <div class="ps-block--features">
            <div class="row ps-col-tiny">
              <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 ">
                <div class="ps-block--feature">
                  <div class="ps-block__left"><i class="pe-7s-car"></i></div>
                  <div class="ps-block__right">
                    <p>ENVÍO A DOMICILIO</p><small>Envío gratis para todo Santiago</small>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 ">
                <div class="ps-block--feature">
                  <div class="ps-block__left"><i class="pe-7s-help2"></i></div>
                  <div class="ps-block__right">
                    <p>SOPORTE 24/7</p><small>Contáctenos las 24 horas del día, los 7 días de la semana.</small>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 ">
                <div class="ps-block--feature">
                  <div class="ps-block__left"><i class="pe-7s-refresh"></i></div>
                  <div class="ps-block__right">
                    <p>30 DÍAS DE DEVOLUCIÓN</p><small>Simplemente devuélvalo dentro de los 30 días para un cambio.</small>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 ">
                <div class="ps-block--feature">
                  <div class="ps-block__left"><i class="pe-7s-door-lock"></i></div>
                  <div class="ps-block__right">
                    <p>PAGO 100% SEGURO</p><small>Aseguramos los pagos con Transbanck</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 

    <div id="back2top"><i class="pe-7s-angle-up"></i></div>
    <div class="ps-site-overlay"></div>
    <div id="loader-wrapper">
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
    <div class="ps-search" id="site-search"><a class="ps-btn--close" href="index.html#"></a>
      <div class="ps-search__content">
        <form class="ps-form--primary-search" action="#" method="post">
          <input class="form-control" type="text" placeholder="Search for...">
          <button><i class="aroma-magnifying-glass"></i></button>
        </form>
      </div>
    </div>
   