
    <div class="navigation--sidebar">
      <div class="navigation__header">
        <h3>Menu</h3><a class="ps-btn--close ps-btn--no-boder" href="index.html#"></a>
      </div>
      <div class="navigation__content">
        <div class="navigation__actions">
         <!--  <div class="ps-dropdown"><a href="index.html#">USD</a>
            <ul class="ps-dropdown-menu">
              <li><a href="index.html#">USD</a></li>
              <li><a href="index.html#">CLP</a></li>
            </ul>
          </div> -->
          <div class="header__actions"><a class="ps-search-btn" href="index.html#"><i class="pe-7s-search"></i></a>
        
          </div>
        </div>
        <ul class="menu--mobile">
      
          <li class="menu-item-has-children"><a class="has-badge" href="shop-4-column.html">Shop</a><span class="sub-toggle"></span>
        
          </li>
       
        </ul>
      </div>
    </div>
    <div id="homepage-1">
      <div class="ps-home-banner">
        <div class="ps-carousel--animate ps-carousel--1st">
          <div class="item">
            <div class="ps-banner left">
              <div class="container"><img src="assets/assetslameseria/img/home-banner/home-1/1.png" alt="">
                <div class="ps-banner__content">
                  <h5>Spring - Summer 2018</h5>
                  <h1>ZONA DE BANNERS</h1>
                  <p>Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nonproident</p><a class="ps-btn ps-btn--outline ps-btn--black" href="index.html#">Shop Now</a>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="ps-banner right">
              <div class="container"><img src="assets/assetslameseria/img/home-banner/home-1/2.png" alt="">
                <div class="ps-banner__content">
                  <h5>2018 New Arrivals</h5>
                <h1>ZONA DE BANNERS</h1>
                  <p>Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nonproident</p><a class="ps-btn ps-btn--outline ps-btn--black" href="index.html#">Shop Now</a>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="ps-banner center-1">
              <div class="container"><img src="assets/assetslameseria/img/home-banner/home-1/3.png" alt="">
                <div class="ps-banner__content">
                  <h4>Summer 2018</h4>
          <h1>ZONA DE BANNERS</h1><a class="ps-btn ps-btn--outline ps-btn--black" href="index.html#">Shop Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="ps-section ps-product-collection ps-trending">
        <div class="container">
          <div class="ps-section__header">
            <h3>Muebleria</h3>
            <p>de Autor</p>
          </div>
          <div class="ps-section__content">
            <div class="row">
              <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 " *ngFor="let tix of tixs" >
                <div class="ps-product" routerLink="/productdetail/{{tix.id}}">
                  <div class="ps-product__thumbnail"><a class="ps-product__overlay" ></a><a class="ps-product__img" ><img src="{{tix.images[0]}}" alt=""/></a><a class="ps-product__img-alt" ><img src="{{tix.images[1]}}" alt=""/></a><a class="ps-product__favorite" ><i class="fa fa-heart-o"></i></a>
                    <ul class="ps-product__actions">
                      <!-- <li><a href="product-standard.html">Quick Shop</a></li> -->
                      <li><a routerLink="/productdetail/{{tix.id}}">Agregar al carrito</a></li>
                    </ul>
                    <p class="ps-product__size">S, M, L</p>
                  </div>
                  <div class="ps-product__content">
                    <div class="ps-product__meta">
                      <a ></a>
                    </div>

                    <a class="ps-product__title" >{{tix.productName}}</a>
                    <p class="ps-product__price"> CLP {{tix.globalPrice}}</p>
                    <!-- <div class="ps-product__color">
                      <div class="ps-radio ps-radio--color ps-radio--inline color-1">
                        <input class="form-control" type="radio" id="color-020" name="color-0"/>
                        <label for="color-020"></label>
                      </div>
                      <div class="ps-radio ps-radio--color ps-radio--inline color-2">
                        <input class="form-control" type="radio" id="color-058" name="color-0"/>
                        <label for="color-058"></label>
                      </div>
                      <div class="ps-radio ps-radio--color ps-radio--inline color-3">
                        <input class="form-control" type="radio" id="color-064" name="color-0"/>
                        <label for="color-064"></label>
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
             <!--  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 ">
                <div class="ps-product">
                  <div class="ps-product__thumbnail"><a class="ps-product__overlay" href="product-standard.html"></a><a class="ps-product__img" href="product-standard.html"><img src="assets/assetslameseria/img/product/best-4-1.jpg" alt=""/></a><a class="ps-product__img-alt" href="product-standard.html"><img src="assets/assetslameseria/img/product/trend-4-2.jpg" alt=""/></a><a class="ps-product__favorite" href="index.html#"><i class="fa fa-heart-o"></i></a>
                    <ul class="ps-product__actions">
                      <li><a href="product-standard.html">Quick Shop</a></li>
                      <li><a href="product-standard.html">Agregar al carrito</a></li>
                    </ul>
                    <p class="ps-product__size">S, M, L</p>
                  </div>
                  <div class="ps-product__content">
                    <div class="ps-product__meta"><a href="shop-2-column.html"></a></div><a class="ps-product__title" href="product-standard.html">Calvin Klein Logo Sweatpants</a>
                    <p class="ps-product__price"> $36.00</p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 ">
                <div class="ps-product">
                  <div class="ps-product__thumbnail"><a class="ps-product__overlay" href="product-standard.html"></a><a class="ps-product__img" href="product-standard.html"><img src="assets/assetslameseria/img/product/best-6-1.jpg" alt=""/></a><a class="ps-product__img-alt" href="product-standard.html"><img src="assets/assetslameseria/img/product/best-6-2.jpg" alt=""/></a><a class="ps-product__favorite" href="index.html#"><i class="fa fa-heart-o"></i></a>
                    <ul class="ps-product__actions">
                      <li><a href="product-standard.html">Quick Shop</a></li>
                      <li><a href="product-standard.html">Agregar al carrito</a></li>
                    </ul>
                    <p class="ps-product__size">S, M, L</p>
                  </div>
                  <div class="ps-product__content">
                    <div class="ps-product__meta"><a href="shop-2-column.html"></a></div><a class="ps-product__title" href="product-standard.html">Cuffed Beanie</a>
                    <p class="ps-product__price"> $45.00 – $53.00</p>
                    <div class="ps-product__color">
                      <div class="ps-radio ps-radio--color ps-radio--inline color-1">
                        <input class="form-control" type="radio" id="color-289" name="color-2"/>
                        <label for="color-289"></label>
                      </div>
                      <div class="ps-radio ps-radio--color ps-radio--inline color-2">
                        <input class="form-control" type="radio" id="color-235" name="color-2"/>
                        <label for="color-235"></label>
                      </div>
                      <div class="ps-radio ps-radio--color ps-radio--inline color-3">
                        <input class="form-control" type="radio" id="color-210" name="color-2"/>
                        <label for="color-210"></label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 ">
                <div class="ps-product">
                  <div class="ps-product__thumbnail"><a class="ps-product__overlay" href="product-standard.html"></a><span class="ps-product__badge disabled"><i>Sold Out</i></span><a class="ps-product__img" href="product-standard.html"><img src="assets/assetslameseria/img/product/trend-2-1.jpg" alt=""/></a><a class="ps-product__img-alt" href="product-standard.html"><img src="assets/assetslameseria/img/product/trend-2-2.jpg" alt=""/></a><a class="ps-product__favorite" href="index.html#"><i class="fa fa-heart-o"></i></a>
                    <ul class="ps-product__actions">
                      <li><a href="product-standard.html">Quick Shop</a></li>
                      <li><a href="product-standard.html">Agregar al carrito</a></li>
                    </ul>
                    <p class="ps-product__size">S, M, L</p>
                  </div>
                  <div class="ps-product__content">
                    <div class="ps-product__meta"><a href="shop-2-column.html"></a></div><a class="ps-product__title" href="product-standard.html">Short Sleeved Hoodie With Step Hem</a>
                    <p class="ps-product__price"> $35.00</p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 ">
                <div class="ps-product">
                  <div class="ps-product__thumbnail"><a class="ps-product__overlay" href="product-standard.html"></a><span class="ps-product__badge"><i> - 14.3%</i></span><a class="ps-product__img" href="product-standard.html"><img src="assets/assetslameseria/img/product/trend-3-1.jpg" alt=""/></a><a class="ps-product__img-alt" href="product-standard.html"><img src="assets/assetslameseria/img/product/best-3-2.jpg" alt=""/></a><a class="ps-product__favorite" href="index.html#"><i class="fa fa-heart-o"></i></a>
                    <ul class="ps-product__actions">
                      <li><a href="product-standard.html">Quick Shop</a></li>
                      <li><a href="product-standard.html">Agregar al carrito</a></li>
                    </ul>
                    <p class="ps-product__size">S, M, L</p>
                  </div>
                  <div class="ps-product__content">
                    <div class="ps-product__meta"><a href="shop-2-column.html"></a></div><a class="ps-product__title" href="product-standard.html">Woleen Tee</a>
                    <p class="ps-product__price sale"> <del>$35.00</del>$30.00</p>
                    <div class="ps-product__color">
                      <div class="ps-radio ps-radio--color ps-radio--inline color-1">
                        <input class="form-control" type="radio" id="color-419" name="color-4"/>
                        <label for="color-419"></label>
                      </div>
                      <div class="ps-radio ps-radio--color ps-radio--inline color-2">
                        <input class="form-control" type="radio" id="color-445" name="color-4"/>
                        <label for="color-445"></label>
                      </div>
                      <div class="ps-radio ps-radio--color ps-radio--inline color-3">
                        <input class="form-control" type="radio" id="color-475" name="color-4"/>
                        <label for="color-475"></label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 ">
                <div class="ps-product">
                  <div class="ps-product__thumbnail"><a class="ps-product__overlay" href="product-standard.html"></a><a class="ps-product__img" href="product-standard.html"><img src="assets/assetslameseria/img/product/trend-4-1.jpg" alt=""/></a><a class="ps-product__img-alt" href="product-standard.html"><img src="assets/assetslameseria/img/product/trend-4-1b.jpg" alt=""/></a><a class="ps-product__favorite" href="index.html#"><i class="fa fa-heart-o"></i></a>
                    <ul class="ps-product__actions">
                      <li><a href="product-standard.html">Quick Shop</a></li>
                      <li><a href="product-standard.html">Agregar al carrito</a></li>
                    </ul>
                    <p class="ps-product__size">S, M, L</p>
                  </div>
                  <div class="ps-product__content">
                    <div class="ps-product__meta"><a href="shop-2-column.html"></a></div><a class="ps-product__title" href="product-standard.html">Grey Beanie</a>
                    <p class="ps-product__price"> $15.00</p>
                    <div class="ps-product__color">
                      <div class="ps-radio ps-radio--color ps-radio--inline color-1">
                        <input class="form-control" type="radio" id="color-535" name="color-5"/>
                        <label for="color-535"></label>
                      </div>
                      <div class="ps-radio ps-radio--color ps-radio--inline color-2">
                        <input class="form-control" type="radio" id="color-57" name="color-5"/>
                        <label for="color-57"></label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 ">
                <div class="ps-product">
                  <div class="ps-product__thumbnail"><a class="ps-product__overlay" href="product-standard.html"></a><span class="ps-product__badge"><i> - 14.3%</i></span><a class="ps-product__img" href="product-standard.html"><img src="assets/assetslameseria/img/product/trend-5-1.jpg" alt=""/></a><a class="ps-product__img-alt" href="product-standard.html"><img src="assets/assetslameseria/img/product/trend-5-2.jpg" alt=""/></a><a class="ps-product__favorite" href="index.html#"><i class="fa fa-heart-o"></i></a>
                    <ul class="ps-product__actions">
                      <li><a href="product-standard.html">Quick Shop</a></li>
                      <li><a href="product-standard.html">Agregar al carrito</a></li>
                    </ul>
                    <p class="ps-product__size">S, M, L</p>
                  </div>
                  <div class="ps-product__content">
                    <div class="ps-product__meta"><a href="shop-2-column.html"></a></div><a class="ps-product__title" href="product-standard.html">Pink Leather Watch</a>
                    <p class="ps-product__price sale"> <del>$35.00</del>$30.00</p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 ">
                <div class="ps-product">
                  <div class="ps-product__thumbnail"><a class="ps-product__overlay" href="product-standard.html"></a><a class="ps-product__img" href="product-standard.html"><img src="assets/assetslameseria/img/product/best-3-1.jpg" alt=""/></a><a class="ps-product__img-alt" href="product-standard.html"><img src="assets/assetslameseria/img/product/best-3-1b.jpg" alt=""/></a><a class="ps-product__favorite" href="index.html#"><i class="fa fa-heart-o"></i></a>
                    <ul class="ps-product__actions">
                      <li><a href="product-standard.html">Quick Shop</a></li>
                      <li><a href="product-standard.html">Agregar al carrito</a></li>
                    </ul>
                    <p class="ps-product__size">S, M, L</p>
                  </div>
                  <div class="ps-product__content">
                    <div class="ps-product__meta"><a href="shop-2-column.html"></a></div><a class="ps-product__title" href="product-standard.html">Brown Sneaker Shoest</a>
                    <p class="ps-product__price"> $45.00 – $53.00</p>
                    <div class="ps-product__color">
                      <div class="ps-radio ps-radio--color ps-radio--inline color-1">
                        <input class="form-control" type="radio" id="color-781" name="color-7"/>
                        <label for="color-781"></label>
                      </div>
                      <div class="ps-radio ps-radio--color ps-radio--inline color-2">
                        <input class="form-control" type="radio" id="color-764" name="color-7"/>
                        <label for="color-764"></label>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="ps-home-collection">
        <div class="container">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12  ">
              <div class="ps-block--collection"><a href="shop-4-column.html"></a><img src="assets/assetslameseria/img/collection/collection-1.jpg" alt="">
                <div class="ps-block__content">
                  <h4>Lookbook 2018</h4>
                  <p>Make love this look</p>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12  ">
              <div class="ps-block--collection"><a href="shop-4-column.html"></a><img src="assets/assetslameseria/img/collection/collection-2.jpg" alt="">
                <div class="ps-block__content">
                  <h5>Summer Sale</h5>
                  <h2>Up to 70%</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="ps-section ps-instagram">
        <div class="container">
          <div class="ps-section__header">
            <h3>@ SIGUENOS EN INSTAGRAM</h3>
          </div>
        </div>
        <div class="ps-carousel--nav inside owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="100000" data-owl-gap="0" data-owl-nav="true" data-owl-dots="true" data-owl-item="6" data-owl-item-xs="2" data-owl-item-sm="3" data-owl-item-md="4" data-owl-item-lg="8" data-owl-duration="1000" data-owl-mousedrag="on">
          <div class="ps-block--instagram"><a href="index.html#"><img src="assets/assetslameseria/img/instagram/1.jpg" alt=""></a>
            <div class="ps-block__action"><a href="index.html#"><i class="fa fa-heart-o"></i>10</a><a href="index.html#"><i class="fa fa-comments"></i>20</a></div>
          </div>
          <div class="ps-block--instagram"><a href="index.html#"><img src="assets/assetslameseria/img/instagram/2.jpg" alt=""></a>
            <div class="ps-block__action"><a href="index.html#"><i class="fa fa-heart-o"></i>10</a><a href="index.html#"><i class="fa fa-comments"></i>20</a></div>
          </div>
          <div class="ps-block--instagram"><a href="index.html#"><img src="assets/assetslameseria/img/instagram/3.jpg" alt=""></a>
            <div class="ps-block__action"><a href="index.html#"><i class="fa fa-heart-o"></i>10</a><a href="index.html#"><i class="fa fa-comments"></i>20</a></div>
          </div>
          <div class="ps-block--instagram"><a href="index.html#"><img src="assets/assetslameseria/img/instagram/4.jpg" alt=""></a>
            <div class="ps-block__action"><a href="index.html#"><i class="fa fa-heart-o"></i>10</a><a href="index.html#"><i class="fa fa-comments"></i>20</a></div>
          </div>
          <div class="ps-block--instagram"><a href="index.html#"><img src="assets/assetslameseria/img/instagram/5.jpg" alt=""></a>
            <div class="ps-block__action"><a href="index.html#"><i class="fa fa-heart-o"></i>10</a><a href="index.html#"><i class="fa fa-comments"></i>20</a></div>
          </div>
          <div class="ps-block--instagram"><a href="index.html#"><img src="assets/assetslameseria/img/instagram/6.jpg" alt=""></a>
            <div class="ps-block__action"><a href="index.html#"><i class="fa fa-heart-o"></i>10</a><a href="index.html#"><i class="fa fa-comments"></i>20</a></div>
          </div>
        </div>
      </div>
      <div class="ps-site-features">
        <div class="container">
          <div class="ps-block--features">
            <div class="row ps-col-tiny">
              <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 ">
                <div class="ps-block--feature">
                  <div class="ps-block__left"><i class="pe-7s-car"></i></div>
                  <div class="ps-block__right">
                    <p>ENVÍO A DOMICILIO</p><small>Envío gratis en todos los pedidos a CHILE</small>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 ">
                <div class="ps-block--feature">
                  <div class="ps-block__left"><i class="pe-7s-help2"></i></div>
                  <div class="ps-block__right">
                    <p>SOPORTE 24/7</p><small>Contáctenos las 24 horas del día, los 7 días de la semana.</small>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 ">
                <div class="ps-block--feature">
                  <div class="ps-block__left"><i class="pe-7s-refresh"></i></div>
                  <div class="ps-block__right">
                    <p>30 DÍAS DE DEVOLUCIÓN</p><small>Simplemente devuélvalo dentro de los 30 días para un cambio.</small>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 ">
                <div class="ps-block--feature">
                  <div class="ps-block__left"><i class="pe-7s-door-lock"></i></div>
                  <div class="ps-block__right">
                    <p>PAGO 100% SEGURO</p><small>Aseguramos los pagos con Transbanck</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 

    <div id="back2top"><i class="pe-7s-angle-up"></i></div>
    <div class="ps-site-overlay"></div>
    <div id="loader-wrapper">
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
    <div class="ps-search" id="site-search"><a class="ps-btn--close" href="index.html#"></a>
      <div class="ps-search__content">
        <form class="ps-form--primary-search" action="#" method="post">
          <input class="form-control" type="text" placeholder="Search for...">
          <button><i class="aroma-magnifying-glass"></i></button>
        </form>
      </div>
    </div>
    <div class="ps-cart--sidebar">
      <div class="ps-cart__header">
        <h3>Mi carrito</h3><a class="ps-btn--close ps-btn--no-boder" href="product-standard.html#"></a>
      </div>
      <div class="ps-cart__content">
        <div class="ps-product--cart">
          <div class="ps-product__thumbnail"><a href="product-standard.html"><img src="assets/assetslameseria/img/product/best-5-1.jpg" alt=""></a><span class="ps-btn--close ps-btn--no-boder"></span></div>
          <div class="ps-product__content"><a href="product-standard.html#">Cyan Boheme - Cyan, M</a><span>1x $45.00</span></div>
        </div>
        <div class="ps-product--cart">
          <div class="ps-product__thumbnail"><a href="product-standard.html"><img src="assets/assetslameseria/img/product/best-3-1.jpg" alt=""></a><span class="ps-btn--close ps-btn--no-boder"></span></div>
          <div class="ps-product__content"><a href="product-standard.html#">Cyan Boheme - Cyan, M</a><span>Size: M</span><span>1x $45.00</span></div>
        </div>
      </div>
      <div class="ps-cart__footer">
        <h4>SubTotal: <span>$60.00</span></h4><a class="ps-btn" routerLink="cart">Ver carrito</a><a class="ps-btn" href="shopping-cart.html">Pagar</a>
      </div>
    </div>