
   <div class="ps-breadcrumb">
      <div class="container-fluid">
        <ul class="breadcrumb">
          <li><a routerLink="/products">Todos los productos</a></li>
       <!--    <li><a href="shop-4-column.html">Jewellery</a></li> -->
          <li *ngIf="_uw.tixPreview">{{_uw.tixPreview.productName}}</li>
        </ul>
      </div>
    </div>
    <div class="container"  *ngIf="_uw.tixPreview !== undefined">
      <form class="form" [formGroup]="ngFormAddToCar">
        <div class="ps-product--detail">
          <div class="ps-product__header">
            <div class="ps-product__thumbnail" data-vertical="true">
              <figure>
                <div class="ps-wrapper">
                  <div class="ps-product__gallery" data-arrow="true">
                    <div class="item" *ngFor="let image of _uw.tixPreview.images; index as f">
                      <a href="{{_uw.tixPreview.images[f]}}">
                        <img src="{{_uw.tixPreview.images[f]}}" alt="">
                      </a>
                    </div>
                  </div>
                </div>
              </figure>
              <div class="ps-product__variants" data-item="4" data-md="3" data-sm="3" data-arrow="false">
                <div class="item" *ngFor="let image of _uw.tixPreview.images; index as f" ><img src="{{_uw.tixPreview.images[f]}}" alt=""></div>
              </div>
            </div>
            <div class="ps-product__info">
              <h1>{{_uw.tixPreview.productName}}</h1>
              <h4 class="ps-product__price">CLP {{_uw.tixPreview.globalPrice}}</h4>
              <div class="ps-product__desc">
                <p>{{_uw.tixPreview.description}}</p>
                <p><b>Dimensiones: </b> {{_uw.tixPreview.dimensiones}}</p>
              </div>
              <div class="ps-product__shopping" *ngIf="this.ngFormAddToCar">
                <div class="form-group--number">
                  <button class="up"><i class="fa fa-plus"></i></button>
                  <button class="down"><i class="fa fa-minus"></i></button>
                  <!-- <input type="number" class="form-control" id="cantidad" formControlName="cantidad"    [ngClass]="{ 'is-invalid': submitted && fval.cantidad.errors }" required> -->
                  <input type="number" class="form-control" id="cantidad" formControlName="cantidad" value="1">

                </div><a class="ps-btn" (click)="add(_uw.tixPreview)">Agregar al carro</a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
<!--     <div id="cart-sticky">
      <div class="form-group--number">
        <button class="up"><i class="fa fa-plus"></i></button>
        <button class="down"><i class="fa fa-minus"></i></button>

        <input type="number" class="form-control" id="cantidad" formControlName="cantidad" value="1">
      </div><a class="ps-btn" href="product-standard.html#">Add to cart</a>
    </div> -->