<!-- <p>productdetail works!</p> -->
   <div class="ps-breadcrumb">
      <div class="container-fluid">
        <ul class="breadcrumb">
          <li><a href="shop-4-column.html">Todos los productos</a></li>
       <!--    <li><a href="shop-4-column.html">Jewellery</a></li> -->
          <li>Analogue Resin Strap Watch</li>
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="ps-product--detail" *ngIf="tix">
        <div class="ps-product__header">
          <div class="ps-product__thumbnail" data-vertical="true">
            <figure>
              <div class="ps-wrapper">
                <div class="ps-product__gallery" data-arrow="true">

                  <div class="item" *ngFor="let image of tix.images; index as f">
                    <a href="{{tix.images[f]}}">
                      <img src="{{tix.images[f]}}" alt="">
                    </a>
                  </div>

         
                </div>
          
              </div>
            </figure>
            <div class="ps-product__variants" data-item="4" data-md="3" data-sm="3" data-arrow="false">
              
              <div class="item" *ngFor="let image of tix.images; index as f" ><img src="{{tix.images[f]}}" alt=""></div>

   
            </div>
          </div>
          <div class="ps-product__info">
            <h1>{{tix.productName}}</h1>
            <h4 class="ps-product__price">CLP {{tix.globalPrice}}</h4>
            <div class="ps-product__desc">
              <p>{{tix.description}}</p>
            </div>
            <div class="ps-product__shopping">
              <div class="form-group--number">
                <button class="up"><i class="fa fa-plus"></i></button>
                <button class="down"><i class="fa fa-minus"></i></button>
                <input class="form-control" type="text" placeholder="1">
              </div><a class="ps-btn" href="product-standard.html#">Agregar al carro</a><a class="ps-product__favorite" href="product-standard.html#"><i class="fa fa-heart-o"></i></a>
            </div>
   
          </div>
        </div>
  
      </div>
    </div>
    <div id="cart-sticky">
      <div class="form-group--number">
        <button class="up"><i class="fa fa-plus"></i></button>
        <button class="down"><i class="fa fa-minus"></i></button>
        <input class="form-control" type="text" placeholder="1">
      </div><a class="ps-btn" href="product-standard.html#">Add to cart</a>
    </div>
