<div class="ps-page">
      <div class="ps-page__content">
        <div class="container">
          <div class="ps-checkout">
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                <form class="ps-form--checkout" action="http://nouthemes.net/html/claue/do_action" method="post">
                  <h3 class="ps-checkout__heading">BILLING DETAILS</h3>
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                      <div class="form-group">
                        <label>Fist Name <sup>*</sup></label>
                        <input class="form-control" type="text" placeholder="">
                      </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                      <div class="form-group">
                        <label>Last Name <sup>*</sup></label>
                        <input class="form-control" type="text" placeholder="">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Company name (optional)</label>
                    <input class="form-control" type="text" placeholder="">
                  </div>
                  <div class="form-group">
                    <label>Country</label>
                    <select class="form-control">
                      <option value="1">USA</option>
                      <option value="1">Singapore</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Street Address <sup>*</sup></label>
                    <input class="form-control" type="text" placeholder="">
                  </div>
                  <div class="form-group">
                    <label>Town / City <sup>*</sup></label>
                    <input class="form-control" type="text" placeholder="">
                  </div>
                  <div class="form-group">
                    <label>Phone <sup>*</sup></label>
                    <input class="form-control" type="text" placeholder="">
                  </div>
                  <div class="form-group">
                    <label>Email address <sup>*</sup></label>
                    <input class="form-control" type="email" placeholder="">
                  </div>
                  <div class="form-group">
                    <div class="ps-checkbox">
                      <input class="form-control" type="checkbox" id="create" name="create"/>
                      <label for="create">Create an account?</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Order notes (optional)</label>
                    <textarea class="form-control" rows="5" placeholder=""></textarea>
                  </div>
                </form>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                <h3 class="ps-checkout__heading">YOUR ORDER</h3>
                <div class="table-responsive">
                  <table class="table ps-table ps-table--checkout">
                    <tbody>
                      <tr>
                        <td><strong>Product</strong></td>
                        <td><strong>Total</strong></td>
                      </tr>
                      <tr>
                        <td><a href="checkout.html#"><img src="img/product/best-2-1.jpg" alt=""></a>
                          <p> Cyan Boheme - Cyan, M 	× 1</p>
                        </td>
                        <td>$45.00</td>
                      </tr>
                      <tr>
                        <td><strong>Subtotal</strong></td>
                        <td>$45.00</td>
                      </tr>
                      <tr>
                        <td><strong>Shipping</strong></td>
                        <td>Local Pickup: $15.00</td>
                      </tr>
                      <tr class="total">
                        <td><strong>Total</strong></td>
                        <td>$60.00</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="ps-checkout__payment-menthod">
                  <div class="ps-radio">
                    <input class="form-control" type="radio" id="payment-method-1" name="payment-menthod"/>
                    <label for="payment-method-1">Check payments</label>
                  </div>
                  <div class="ps-radio">
                    <input class="form-control" type="radio" id="payment-method-2" name="payment-menthod"/>
                    <label for="payment-method-2">Cash on delivery</label>
                  </div>
                  <div class="ps-radio">
                    <input class="form-control" type="radio" id="payment-method-3" name="payment-menthod">
                    <label for="payment-method-3">Visa <img src="img/visa.jpg" alt=""></label>
                  </div>
                  <button class="ps-btn ps-btn--outline ps-btn--black">Place order</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
