<div class="ps-page">
      <div class="ps-page__content">
        <div class="container">
          <div class="ps-checkout">
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                <form class="ps-form--checkout" action="http://nouthemes.net/html/claue/do_action" method="post">
                  <h3 class="ps-checkout__heading">Detalles de envio</h3>
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                      <div class="form-group">
                        <label>Nombres <sup>*</sup></label>
                        <input class="form-control" type="text" placeholder="">
                      </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                      <div class="form-group">
                        <label>Apellidos <sup>*</sup></label>
                        <input class="form-control" type="text" placeholder="">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Nombre de la compañía (opcional)</label>
                    <input class="form-control" type="text" placeholder="">
                  </div>
                  <div class="form-group">
                    <label>Provincia</label>
                    <select class="form-control">
                      <option value="1">Santiago</option>
                      <option value="1">Otra</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Dirección <sup>*</sup></label>
                    <input class="form-control" type="text" placeholder="">
                  </div>
                  <div class="form-group">
                    <label>Ciudad <sup>*</sup></label>
                    <input class="form-control" type="text" placeholder="">
                  </div>
                  <div class="form-group">
                    <label>Telefono <sup>*</sup></label>
                    <input class="form-control" type="text" placeholder="">
                  </div>
                  <div class="form-group">
                    <label>Email <sup>*</sup></label>
                    <input class="form-control" type="email" placeholder="">
                  </div>
                  <div class="form-group">
                    <div class="ps-checkbox">
                      <input class="form-control" type="checkbox" id="create" name="create"/>
                      <label for="create">Crear cuenta?</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Notas (opcional)</label>
                    <textarea class="form-control" rows="5" placeholder=""></textarea>
                  </div>
                </form>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                <h3 class="ps-checkout__heading">Su Pedido</h3>
                <div class="table-responsive">
                  <table class="table ps-table ps-table--checkout">
                    <tbody>
                      <tr>
                        <td><strong>Producto</strong></td>
                        <td><strong>Total</strong></td>
                      </tr>
                      <tr  *ngFor="let tix of _uw.car;let i = index">
                        <td><a ><img src="{{tix.images[0]}}" alt=""></a>
                          <p> {{tix.productName}}	× {{tix.cantidad}} </p>
                        </td>
                        <td>CLP {{tix.globalPrice* tix.cantidad}}</td>
                      </tr>
                      <tr>
                        <td><strong>Subtotal</strong></td>
                        <td>CLP {{_uw.subTotal}}</td>
                      </tr>
                      <tr>
                        <td><strong>Shipping</strong></td>
                        <td>Local Pickup: CLP 0.00</td>
                      </tr>
                      <tr class="total">
                        <td><strong>Total</strong></td>
                        <td>CLP 0.00</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="ps-checkout__payment-menthod">
                  <div class="ps-radio">
                    <input class="form-control" type="radio" id="payment-method-1" name="payment-menthod" (click)="setTransf()"/>
                    <label for="payment-method-1">Transferencia Bancaria</label>
                    <div  [hidden]="_uw.webpay || !_uw.methodSeted">
                      <p>ICS servicios profesionales
                        <br/>
                        76 899 155 - 3
                        <br/>
                        Banco Santander Cta. corriente #
                        <br/>
                        737 34 975
                        <br/>
                        Email: lameseria.cl@gmail.com
                      </p>
                        <form  ngNoForm1  [action]="this._uw.url" method="POST" [hidden]="_uw.webpay || !_uw.methodSeted">
                  <button class="ps-btn ps-btn--outline ps-btn--black">Procesar pago</button>
                </form>
                    </div>
                  </div>
                  <!-- <div class="ps-radio">
                    <input class="form-control" type="radio" id="payment-method-2" name="payment-menthod"/>
                    <label for="payment-method-2">Cash on delivery</label>
                  </div> -->
                  <div class="ps-radio">
                    <input class="form-control" type="radio" id="payment-method-3" name="payment-menthod" (click)="setWebpay()">
                    <label for="payment-method-3">Pago en línea (Webpay) <img src="img/visa.jpg" alt=""></label>
                  </div>
                  <form  ngNoForm  [action]="this._uw.url" method="POST" [hidden]="_uw.transf || !_uw.methodSeted">
                  <button class="ps-btn ps-btn--outline ps-btn--black">Conectar con Transbank</button>
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
